@import '../../../styles/mixins';
@import '../../../styles/variables';

.select {
  $root: &;

  background-color: $color-background-tertiary;
  border-bottom: $border-width solid $color-primary;
  margin: calc(#{$margin-base} + #{$font-size-base * 2}) 0;
  padding-right: $padding-base;
  position: relative;

  &__field {
    border: none;
    display: block;
    font-size: $font-size-base;
    padding: $padding-base;
    text-transform: capitalize;
    width: 100%;
  }

  &__label {
    font-size: $font-size-base;
    left: $margin-base;
    pointer-events: none;
    position: absolute;
    top: $margin-base;
    transition: $transition-speed $transition-effect all;

    @include shrink-label;
  }
}
