@import '../../../styles/mixins';
@import '../../../styles/variables';

.footer {
  $svg-dimension: 40px;

  @include box-shadow($v-offset: -8px);

  &__container {
    @include max-width;

    align-items: center;
    color: $color-tertiary;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: $padding-base;
    width: 100%;
  }

  &__copyright {
    font-size: $font-size-small;
  }

  &__icons {
    svg {
      height: $svg-dimension;
      width: $svg-dimension;
    }
  }

  &__icon {
    padding: ($width-min-clickable - $svg-dimension) / 2;

    &-caption--hidden {
      @include visually-hidden;
    }
  }
}
