// Base
$black: #000;
$blue: #262d3a;
$yellow: #d2da4a;
$white: #fff;

// Template
$color-background-primary: $white;
$color-background-secondary: $blue;
$color-box-shadow: $black;
$color-secondary: $yellow;
