@import "colors";
@import "variables";

@mixin box-shadow($v-offset: 8px, $spread-radius: 0) {
  box-shadow: 0 $v-offset 8px $spread-radius $color-box-shadow;
}

@mixin max-width() {
  margin: 0 auto;
  max-width: $width-max-page;
}

@mixin visually-hidden() {
  &:not(:focus):not(:active) {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
