@import '../../../styles/variables';

.button {
  background-color: $color-background-secondary;
  border: $border-width solid $color-primary;
  cursor: pointer;
  font-size: $font-size-base;
  min-width: $width-min-clickable;
  padding: $padding-base;
  text-transform: uppercase;
  transition: background-color $transition-speed $transition-effect, border $transition-speed $transition-effect,
    color $transition-speed $transition-effect;

  &:hover {
    background-color: $color-background-primary;
    border: $border-width solid $color-secondary;
    color: $color-tertiary;
  }
}
