@import "styles/colors";
@import "styles/mixins";
@import "styles/variables";

main {
  background-color: $color-background-primary;
  flex: 1;
}

.main-container {
  @include max-width;
  padding: $padding-base;
}
