@import "../../../styles/breakpoints";
@import "../../../styles/colors";
@import "../../../styles/variables";

.filters {
  margin-top: $margin-base / 2;
  padding: {
    bottom: $padding-base;
    right: $padding-base + $padding-base / 2;
    top: $padding-base;
  }

  @include media($from: tbl-l) {
    position: sticky;
    top: 0;
  }

  &__title {
    font-size: $font-size-subtitle;
  }
}
