@import '../../../styles/variables';

.modal {
  background-color: $color-background-tertiary;
  border: $border-width solid $color-primary;
  border-radius: $border-radius;
  margin: auto;
  max-width: $width-max-text;
  padding: $padding-base * 1.5;
  position: relative;

  &__close {
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: $font-size-subtitle;
    margin-left: $margin-base;
  }

  &__content {
    margin-top: $margin-base;
  }

  &__overlay {
    background-color: $black-opacity-half;
    bottom: 0;
    display: flex;
    left: 0;
    position: fixed;
    overflow: auto;
    right: 0;
    top: 0;
    z-index: $z-index-modal;
  }

  &__title {
    align-items: center;
    display: flex;
    font-size: $font-size-subtitle;
    justify-content: space-between;
  }
}
